.appname {
  font-size: 3vw;
  padding-top: 2em;
  padding-bottom: 3em;
}

.Nav {
  font-size: 2vw;
  height: 100vh;
}

.NavLinks {
  /* height: 60px; */
  font-weight: 500;
}

.homepage-container {
  height: 100vh;
  text-align: center;
  background-color: crimson;
}
