.appname {
  font-size: 3vw;
  padding-top: 2em;
  padding-bottom: 3em;
}

.bacc-logo {
  max-width: 70px;
  max-height: 70px;
}

.Nav {
  font-size: 2vw;
  height: 100vh;
}

.Nav-footer {
  position: absolute;
  bottom: 0;
}

.NavLinks a {
  font-weight: 600;
  color: #524e4e;
}

.NavLinks a:hover {
  color: #fff;
  background-color: blue;
}


.Nav-footer a {
  color: #524e4e;
}

.homepage-container {
  height: 100vh;
  text-align: center;
  background-color: crimson;
}
